<!DOCTYPE html>
<html>
  <head>
    <title>Meshiterro2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">

    <header class="shadow-sm">

      <nav class="navbar navbar-expend-lg navbar-light">

        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag('logo.png') %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
             aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

        </div>

      </nav>


      <% if user_signed_in? %>

        <li>
          <%= link_to '投稿フォーム', new_post_image_path %>
        </li>

        <li>
          <%= link_to 'マイページ', user_path(current_user.id) %>
        </li>

        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </li>

      <% else %>

        <li>
          <%= link_to '新規登録', new_user_registration_path %>
        </li>

        <li>
          <%= link_to 'ログイン', new_user_session_path %>
        </li>

      <% end %>

    </header>

    <%= yield %>

  </body>
</html>
